.keyframe { 
    width: 187px;
    height: 187px;
    /* background-color: white; */
    background: linear-gradient(to right bottom, 
    rgba(255, 215, 83, 0.7), 
    rgba(226, 27, 27, 0.3));
    border-radius: 50%;
    justify-self: center;
    grid-area: 2 / 3 / 3 / 3;
    margin-top: -5%;
    z-index: -1;
    transform: scale(1);
	animation: pulse 3s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.90);
            box-shadow: 0 0 0 0 white;
        }
    
        50% {
            transform: scale(1);
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
        }
    
        100% {
            transform: scale(0.90);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .keyframe {
        width: 247px;
        height: 247px;
    }
}

/* Laptop (kleine desktop)*/
@media only screen and (min-width: 1024px) and (max-width: 1598px) {
    .keyframe{
        margin-top: -50%;
        width: 287px;
        height: 287px;
    }
}

/*Grote desktop*/
@media only screen and (min-width: 1599px) {
    .keyframe {
        margin-top: -50%;
        width: 387px;
        height: 387px;
    }
}